<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h3>Jhon Vivas</h3>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Usuario">
    </div>

    <mat-divider></mat-divider>

    <mat-accordion>
        <!-- #docregion basic-panel -->
        <!-- #docregion hide-toggle -->
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <!-- #enddocregion hide-toggle -->
            <mat-expansion-panel-header>
                <mat-panel-title>
                    MI PERFIL
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/perfil">Inicio</a>
        </mat-expansion-panel>
        <!-- #enddocregion basic-panel -->
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ACADÉMICO
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/posts">Posts</a>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    CONVIVENCIA
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/posts">Posts</a>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ADMIN
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/cursos">Cursos</a>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-divider></mat-divider>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>exit_to_app</mat-icon>
        Salir
    </a>

</mat-nav-list>