<div class="nvocurso-container">
    <form [formGroup]="newCursoForm" (ngSubmit)="addNewCurso(newCursoForm)">
      <mat-form-field>
        <mat-label>Curso</mat-label>
        <input matInput placeholder="Curso" formControlName="nombre">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Director de grupo</mat-label>
        <input matInput placeholder="Director de grupo" formControlName="director">
      </mat-form-field>
      <div class="container-button">
        <input type="submit" class="mat-flat-button" value="Save" [mat-dialog-close]="true">
      </div>
    </form>
</div>